<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.vitorota.fishingsimulator.features.login">
    <application android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="com.vitorota.fishingsimulator.features.login.open"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
